
<div class="nested-form-wrapper" data-new-record="<%= f.object.new_record? %>" >
  <div>
    <%= f.label :city, class:"form-label label-style-point" %>
    <%= f.text_field :city, class:"form-control space-style-city" %>
  </div>

  <div data-controller="flatpickr" class="my-3 div-flex">
      <div>
        <%= f.label :arrival, class:"form-label label-style-point" %>
        <%= f.text_field :start_date, data: { flatpickr_target: "startDate" }, class:"space-style-step1"  %>
      </div>
      <div>
        <%= f.label :departure, class:"form-label label-style-point" %>
        <%= f.text_field :end_date, data: { flatpickr_target: "endDate" }, class:"space-style-step1" %>
      </div>
  </div>

  <% if false %>
    <%= f.label :description, class:"form-label label-style-point" %>
    <%= f.text_field :description, class:"form-control" %>
    <%= f.label :budget_day, class:"form-label label-style-point" %>
    <%= f.text_field :budget_day, class:"form-control" %>
    <%= f.label :local_language, class:"form-label label-style-point" %>
    <%= f.text_field :local_language, class:"form-control space-style-step2" %>
  <% end %>

  <div>
    <%= f.label "local currency", class:"form-label label-style-point" %>
    <%= f.text_field :currency, class:"form-control space-style-city" %>
  </div>

  <div class="div-flex">
    <div class="custom-control custom-switch form-check form-switch">
      <%= f.label "activities", class:"form-label label-style-point custom-control-label form-check-label", for:"customSwitch1" %>
      <div class="div-flex-i">
        <i class="fa-solid fa-building-columns"></i>
        <%= f.check_box :visits_activities, class:"form-check-input custom-control-input", id:"customSwitch1" %>
      </div>
      <div class="div-flex-i">
        <i class="fa-solid fa-masks-theater"></i>
        <%= f.check_box :visits_activities, class:"form-check-input custom-control-input", id:"customSwitch1" %>
      </div>
      <div class="div-flex-i">
        <i class="fa-solid fa-champagne-glasses"></i>
        <%= f.check_box :visits_activities, class:"form-check-input custom-control-input", id:"customSwitch1" %>
      </div>
      <div class="div-flex-i">
        <i class="fa-solid fa-person-hiking"></i>
        <%= f.check_box :visits_activities, class:"form-check-input custom-control-input", id:"customSwitch1" %>
      </div>
      <div class="div-flex-i">
        <i class="fa-solid fa-umbrella-beach"></i>
        <%= f.check_box :visits_activities, class:"form-check-input custom-control-input", id:"customSwitch1" %>
      </div>
    </div>

    <div class="custom-control custom-switch form-check form-switch">
      <%= f.label "accomodations", class:"form-label label-style-point custom-control-label form-check-label", for:"customSwitch1" %>
      <div class="div-flex">
        <i class="fa-solid fa-hotel"></i>
        <%= f.check_box :housing_type, class:"form-check-input custom-control-input", id:"customSwitch1" %>
      </div>
      <div class="div-flex">
        <i class="fa-solid fa-bed"></i>
        <%= f.check_box :housing_type, class:"form-check-input custom-control-input", id:"customSwitch1" %>
      </div>
      <div class="div-flex">
        <i class="fa-brands fa-airbnb"></i>
        <%= f.check_box :housing_type, class:"form-check-input custom-control-input", id:"customSwitch1" %>
      </div>
      <div class="div-flex">
        <i class="fa-solid fa-campground"></i>
        <%= f.check_box :housing_type, class:"form-check-input custom-control-input", id:"customSwitch1" %>
      </div>
    </div>
  </div>

  <div class="div-btn-remove">
    <button type="button" data-action="nested-form#remove" class="btn-remove">Remove point</button>
  </div>

  <%= f.hidden_field :_destroy %>
</div>
