<div class="container-white">
  <div id='map' style='width: 800px; height: 600px;'></div>

  <div class="container-search">
    <%= form_with url: road_trips_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :destination,
      params[:destination],
      class: "form-control",
      placeholder: "Enter a destination (continent, country, state, city)"
    %>
    <%= date_field_tag :departure,
      params[:departure],
      class: "form-control",
      placeholder: ""
    %>
    <%= submit_tag "Search", class: "btn-gradient" %>
    <% end %>
  </div>

  <div class="container-home">
    <% @road_trips.each do |road_trip| %>
      <%= render 'road_trip_card',  road_trip: road_trip %>
    <% end %>
  </div>
</div>
