

<div class="container-search">
  <div>
    <%= form_with url: search_path, method: :get, class: "d-flex" do %>
      <h3>Destination</h3>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Choose a destination"
      %>
  </div>
  <div>
    <h3>Start date</h3>
    <%= date_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Choose a start date"
    %>
  </div>
  <div>
      <%= submit_tag "Search", class: "btn-search" %>
    <% end %>
  </div>
</div>

<div class="container-home">
    <% @road_trips.each do |road_trip| %>
        <div class="card-home">
          <div>
              <% if road_trip.photo.attached? %>
                <%= cl_image_tag road_trip.photo.key, height: 350, width: 500, crop: :fill %>
              <% end %>
          </div>
          <div>
            <%= link_to road_trip_path(road_trip) do %>
              <%= road_trip.title %>
            <% end %>
          </div>
        </div>
      <% end %>
</div>
