<div class="container-white">
  <div class="d-flex justify-content-center align-items-center overflow-hidden position-relative" style="height: 550px; width: 100vw">
    <div
    data-controller="map"
      id='map'
      style='width: 1500px; height: 600px;'
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
    <h1 class="position-absolute start-0 top-50 translate-middle-y map-overlap mx-5">
      Road
    </h1>
    <h1 class="position-absolute end-0 top-50 translate-middle-y map-overlap mx-5">
      trip
    </h1>
  </div>

  <div class="container-search">
    <%= form_with url: road_trips_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :destination,
      params[:destination],
      class: "form-control",
      placeholder: "Enter a destination (continent, country, state, city)"
    %>
    <%= date_field_tag :departure,
      params[:departure],
      class: "form-control",
      placeholder: ""
    %>
    <%= submit_tag "Search", class: "btn-gradient" %>
    <% end %>
  </div>

  <div class="container-home">
    <% @road_trips.each do |road_trip| %>
      <%= render 'road_trip_card',  road_trip: road_trip %>
    <% end %>
  </div>
</div>

<% console %>
