<h1 class="container-new-title">Hey <%= current_user.first_name %> ! Let's go ...</h1>

<div class="container-new">

<%= form_with model: @road_trip, data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' } do |f| %>
  <%= f.label :title, class:"form-label" %>
  <%= f.text_field :title, class:"form-control" %>
  <%= f.label :photo, class:"form-label" %>
  <%= f.file_field :photo, class:"form-control" %>
  <%= f.label :description, class:"form-label" %>
  <%= f.text_field :description, class:"form-control" %>
  <%= f.label :native_language, class:"form-label" %>
  <%= f.text_field :native_language, class:"form-control" %>
  <%= f.label :other_language, class:"form-label" %>
  <%= f.text_field :other_language, class:"form-control" %>
  <%= f.label :work, class:"form-label" %>
  <%= f.text_field :work, class:"form-control" %>
  <%= f.label :number_participants, class:"form-label" %>
  <%= f.number_field :number_participants, class:"form-control" %>
  <template data-nested-form-target="template">
    <%= f.fields_for :points, Point.new, child_index: 'NEW_RECORD' do |point_fields| %>
      <%= render "point_form", f: point_fields %>
    <% end %>
  </template>

  <%= f.fields_for :points do |point_fields| %>
    <%= render "point_form", f: point_fields %>
  <% end %>

  <!-- Inserted elements will be injected before that target. -->
  <div data-nested-form-target="target"></div>

  <button type="button" data-action="nested-form#add">Add point</button>

  <%= f.submit 'Save points' %>
<% end %>
</div>
