
<div class="container-white">
  <h1 class="road-trip-title"><%= @road_trip.title %></h1>
  <%= image_tag @road_trip.photo, class: "trip-image" %>

  <div class="p-description">
    <p><%= @road_trip.description %>
    </p>
  </div>

  <div id='map' style='width: 1008px; height: 600px;'></div>
  <div class="d-flex-date">
    <%# <div>From <%= @road_trip.joins(:points).where('points.start_date')</div> %>
    <%# <div>To <%= @road_trip.joins(:points).where('points.end_date')</div> %>
  </div>

  <div class="d-flex">
    <div><%= image_tag 'airport.jpeg', class: "trip-image-small" %></div>
    <div><%= image_tag 'airport.jpeg', class: "trip-image-small" %></div>
    <div><%= image_tag 'airport.jpeg', class: "trip-image-small" %></div>
  </div>
</div>
