
<div class="container-white">
  <h1 class="road-trip-title"><%= @road_trip.title %></h1>

<div class="div-avatar">
  <img src="https://res.cloudinary.com/debuijcke/image/upload/v1670325408/Road_trip_avatar_photos/Julia_road_trip_avatar_y6cwdk.jpg" class="avatar-perso";
  alt="Avatar" />
  <img src="https://res.cloudinary.com/debuijcke/image/upload/v1670325378/Road_trip_avatar_photos/Billie_road_tripper_avatar_ze3qs5.jpg" class="avatar-perso";
  alt="Avatar" />
</div>

  <%= image_tag @road_trip.photo, class: "trip-image" %>
  <div class="description-container">
    <div class="p-description">
      <p><%= @road_trip.description %>"</p>
    </div>
    <div class="p-description-user-signature">
      <p><%= @road_trip.user.first_name %>.</p>
    </div>
  </div>

  <div class="road-trip-show-details-container">
    <div>
      <h4>Route details</h4>
    </div>
    <div class="route-info-container">
        <div><h5>Continent :</h5>
        <% @points.each do |point| %>
            <p><%= point.continent %></p>
           <% end %>
        </div>
        <div><h5>Country :</h5>
        <% @points.each do |point| %>
            <p><%= point.country %></p>
           <% end %>
        </div>
        <div><h5>City :</h5>
        <% @points.each do |point| %>
            <p><%= point.city %>
           <% end %>
        </div>
        <div><h5>Arrival :</h5>
        <% @points.each do |point| %>
            <p><%= point.start_date %></p>
           <% end %>
        </div>
        <div><h5>Departure :</h5>
        <% @points.each do |point| %>
            <p><%= point.end_date %></p>
           <% end %>
        </div>
    </div>
    <div class="other-info-container">
      <h5>Spoken languages in the group :</h5>
        <p><%= @road_trip.native_language %></p>
        <p><%= @road_trip.other_language %></p>
    </div>
  </div>

  <div>
    <% if @participation == nil %>
    <%= link_to "I want to participate !", road_trip_participations_path(@road_trip), class:"btn-participation" %>
    <% end %>
  </div>

  <div id="carouselExampleControls" class="carousel slide carousel-perso" data-bs-ride="carousel">
          <div class="carousel-inner">
            <% @road_trips.each_with_index do |road_trip, i| %>
              <div class="carousel-item <%= i == 0 ? 'active' : '' %>">
                <%= render 'road_trip_card',  road_trip: road_trip %>
              </div>
            <% end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
  </div>
</div>
