<%= @road_trip.title %>
<%= cl_image_tag @road_trip.photo.key %>
<%= @road_trip.description %>
<%= @road_trip.native_language %>
<%= @road_trip.other_language %>
<%= @road_trip.work %>
<%= @road_trip.number_participants %>
<%# <%= @points.country, as: :string %>
<% @points.each do |point| %>
  <%= point.city %>
  <%= point.start_date %>
  <%= point.end_date %>
  <%= point.description %>
  <%= point.budget_day %>
  <%= point.local_language %>
  <%= point.currency %>
  <%= point.housing_type %>
  <%= point.visits_activities %>
<% end %>

<div class="d-flex justify-content-center align-items-center overflow-hidden position-relative" style="height: 550px; width: 100vw">
  <div
  data-controller="trip-map"
    id='trip-map'
    style='width: 1500px; height: 600px;'
    data-trip-map-markers-value="<%= @markers.to_json %>"
    data-trip-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>
