<div class="container-white">
  <h1>First name:</h1>
  <h1 class="road-trip-title"><%= @user.first_name %></h1>
  <h1>Last name:</h1>
  <%= @user.last_name %>
  <h5>Nick name:</h5>
  <%= @user.nickname %>
  <%= @user.date_of_birth %>
  <%= @user.study_field %>
  <%= @user.university %>
  <%= @user.university_email %>
  <%= @user.country %>
  <%= @user.state %>
  <%# <%= @user.city %>
  <%= @user.about_yourself %>
  <%= @user.expect_experience %>
  <%= @user.passion %>
  <%= @user.free_time %>
  <%= @user.password %>
< /div>
